.about {
  margin-bottom: 3rem;
  .heading__about__heading {
    padding: 1rem 0;
  }

  .left__img{
    height: 5rem;
    width: 30rem;
    // width: 100%;
    .about__img__container {
      width: 100%;
      height: 100%;
    }
  }

  

  .right__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading__about__hii {
      font-size: 3rem;
      color: $main__color;
      text-align: left;
    }
    
    .heading__about__name {
      font-size: 1.8rem;
      text-align: left;
    }
    .heading__about__p {
      text-align: left;
    }
  }
}

@media (max-width: 768px) {
  .about {
    margin-bottom: 1.5rem;
    .heading__about__heading {
      padding: 1rem 0;
    }

      .left__img {
        height: 13rem;
        width: 30rem;

        // width: 100%;
        .about__img__container {
          width: 100%;
          height: 100%;
        }
      }

    .right__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 2rem;

      .heading__about__hii {
        display: none;
      }

      .heading__about__name {
        font-size: 1.6rem;
        padding-bottom: 1rem;
        color: $main__color;
        text-align: center;
      }

      .heading__about__p{
        text-align: center;
      }

      strong {
        text-align: center;
      }
    }
  }
}
