$primary__white: #fff;
$main__color: rgba(167, 1, 20, 0.658);
$background__color:#FCF6F5FF;
$gallery__color:rgb(235, 230, 229);
$card__color:#f4ece6;
$linkedin:#0077b5;
$github:#211F1F;
$mail:#EA4335;
$orange:#ffa600c7;
$heart__color:#a83f39;
$color__gradient: linear-gradient(202deg, rgba(2, 0, 36, 1) 0%, rgba(185, 34, 34, 1) 35%, rgba(0, 212, 255, 1) 100%);

// my website color



// Buttons
.myBtn {
 font-size: 1.3rem;
 text-decoration: none;
 padding: 0.8rem 1.8rem;
 border-radius: 30px;
 color: $primary__white;
 transition: all 0.5s ease;
}






//  animation
.animateImg {
 animation: upDown 1.5s ease infinite alternate-reverse both;
}

// Testimonial Card

.card__testimonial {
 height: 15rem;
}


@keyframes upDown {
 0% {
  transform: translateY(20px);
 }

 100% {
  transform: translateY(-20px);
 }
}

$width: 768px;


//  media queries

@media(max-width:768px) {
 .animateImg {
  animation: upDown 1.5s ease-in-out infinite alternate-reverse both;
  z-index: -1;
 }

 @keyframes upDown {
  0% {
   transform: translateY(10px);
  }

  100% {
   transform: translateY(-10px);
  }
 }
}