// JAI MATA DI

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@import './navbar.scss';
@import './sidebar.scss';
@import './common.scss';
@import './topbar.scss';
@import './home.scss';
@import './gallery.scss';
@import './galleryButtons.scss';
@import './footer.scss';
@import './testimonials.scss';
@import './testimonial__card.scss';
@import './service.scss';
@import './contact.scss';
@import './map.scss';
@import './about.scss';
@import './scroll.scss';

