@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


@import './common.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

// body


// Navbar

.topbar {
  background-color: transparent;
  height: 100%;
  width: 100%;
  color: $main__color;
  transition: all 1.5s ease;


  .row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    --bs-gutter-x: 0;

    .logo__container {
      height: 100px;
      width: 100%;
      padding-left: 4rem;
      display: flex;
      align-items: center;

      .logo__style {
        font-size: 1.963rem;
        letter-spacing: 0.15rem;
        text-decoration: none;
        font-weight: bold;
        color: $main__color;
        font-family: 'Acme',
        sans-serif;
        z-index: 2;
      }

      .logo {
        margin-left: 2.5rem;

        h4 {
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;

          padding-top: 0.5rem;

          .mailIcon {
            color: $main__color;
          }
        }
      }
    }

    .right {
      .hamburger {
        // transition: all 1.5s ease;
        float: right;
        margin-right: 2rem;
        width: 35px;
        height: 25.5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 4.3px;
          background-color: $main__color;
          transform-origin: left;
          transition: all 1.5s ease;
          display: none;
          z-index: 2;
        }
      }

      .menu {
        float: right;

        &__item {
          margin: 1rem;
          text-decoration: none;
          color: inherit;
        }

        &__item:hover {

          border-radius: 3px;
          border-bottom: 3px solid $main__color;
        }
      }

      .sidebar__container {
        transition: all 1.5s ease !important;
      }
    }
  }

  &.active {
    background-color: $main__color;
    color: $primary__white;

    .logo__container {
      .logo__style {
        color: $primary__white;
      }
    }

    .logo {
      .mailIcon {
        color: $primary__white !important;
      }
    }

    .hamburger {
      span {
        &:first-child {
          background-color: $primary__white;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-45deg);
          background-color: $primary__white;
        }
      }
    }
  }
}

// end of Navbar

// media Queries

@media only screen and (max-width: 768px) {

  .topbar {
    .row {
      .logo__container {
        padding-left: 1rem;

        .logo__style {
          font-size: 1.5rem;
          z-index: 4 !important;
        }

        .logo {
          h4 {
            display: none;
          }
        }
      }

      .right {
        .hamburger {
          span {
            display: flex;
          }
        }

        .menu {
          display: none;
        }
      }
    }
  }
}

// end of media Queries