.service__header{
  height: 168vh;
  width: 100%;
  .service {
    height: 150vh;
    width: 100%;
    background-color: $background__color;

    &__container {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url("https://thumbs.dreamstime.com/b/wedding-stage-14105203.jpg");
      height: 100%;
      width: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .container {
      height: 100% !important;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;

      .service__align {
        display: flex;
        justify-content: center;
        align-items: center;

        .card__img__container {
          height: 15rem;

          &:hover {
            transition: 0.3s all ease;
            background-color: $main__color;
          }

          .img__size {
            height: 100%;
            width: 100%;
          }
        }

        .card__body {
          h6 {
            color: $main__color;
            text-align: center;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media(max-width:768px){
  .service {
    height: 150vh;
    width: 100%;
    background-color: $background__color;

    &__container {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url("https://thumbs.dreamstime.com/b/wedding-stage-14105203.jpg");
      // min-height: 500px;
      height: 100%;
      width: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .container {
      height: 100% !important;
      width: 100% !important;
       display: flex;
       justify-content: center;
       align-items: center;

      .service__align {
        display: flex;
        justify-content: center;
        align-items: center;

        .card{
          margin-bottom: 2rem;
          .card__img__container {
            height: 11.5rem;

            &:hover {
              transition: 0.3s all ease;
              background-color: $main__color;
            }

            .img__size {
              height: 100%;
              width: 100%;
            }
          }

          .card__body {
            h6 {
              color: $main__color;
              text-align: center;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}