@import './common.scss';

.sidebar {
 position: absolute;
 top: 0;
 right: 0;
 width: 50%;
 height: 100%;
 background-color: $main__color;
 opacity: 0.85;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 z-index: 1;

 &__item {
  height: 2.5rem;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: $primary__white;
 }

 &__item:hover {
  color: $primary__white;
  border-radius: 3px;
  border-bottom: 3px solid $primary__white;
 }
}