.testimonials{
 background-color: $background__color;
 min-height: 80vh;
 width: 100%;
 padding-bottom: 1rem;
}

.left__btn{
 background-color: $main__color;
 border-radius: 50%;
 height: 2.5rem;
 width: 2.5rem;

 &__icon{
  margin-top: 0.3rem;
  margin-right: 0.35rem;
 }

 &__icon__right{
  margin-top: 0.3rem;
  margin-left: 0.35rem;
 }

}

.test__img__container{
 display: none;
}

@media(max-width:768px){
 .testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
 }
 .test__img__container {
  display: block;
  margin-bottom: 2rem;
 }
}